# Ignore all files and directories by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow the specific directories to be tracked
!config/
!config/**
!controllers/
!controllers/**
!middleware/
!middleware/**
!models/
!models/**
!routes/
!routes/**
!uploads/**
!server.js
!app.js
!uploads/
!uploads/**

# Allow fronted directory
!fronted/
!fronted/**

# Ignore fronted dependencies and build outputs
fronted/node_modules/
fronted/dist/
fronted/.vite/
